body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.text
{
  color: blue;
  font-size: larger;
  text-align: center;
}
.image
{
  width: 50%;
  height: 700px;
  position: relative;
  left:350px;
 
}
.button
{
  cursor: pointer;
  width: 10%;
  height: 40px;
  text-align: center;
 position: relative;
 top:40px;
 right:5%;
 border: none;
 border-radius: 5px;
  background-color: lightblue;
}
